<!DOCTYPE>
<html>
<#include "../../head.html">
<body>
	<#include "../../top.html">
	<!-- div.main start  -->
	<div class="main">
		<!-- div.main_left start  -->
		<div class="main_left"><#include "../left.html"></div>
		<!-- div.main_left end  -->
		<!-- div.main_right start  -->
		<div class="main_right">

			<div class="main_site">
				<ul>

					<li class="site_sub"><a
						href="index.php?wzd888&amp;q=module/attestation">证件列表</a> - <a
						href="index.php?wzd888&amp;q=module/attestation/new">添加证件</a> - <a
						href="index.php?wzd888&amp;q=module/attestation/type_list">类型列表</a>
						- <a href="index.php?wzd888&amp;q=module/attestation/type_new">添加类型</a>
						- <a href="index.php?wzd888&amp;q=module/attestation/realname">实名认证</a>
						- <a href="index.php?wzd888&amp;q=module/attestation/vip">vip审核</a>
						- <a
						href="index.php?wzd888&amp;q=module/attestation/vip&amp;type=1">vip认证</a>
						- <a href="index.php?wzd888&amp;q=module/attestation/all">用户认证信息</a>
						- <a href="index.php?wzd888&amp;q=module/attestation/viewall">查看所有的用户</a>
					</li>
					<li class="title">证明材料 <span>/ 修改证件 </span></li>

				</ul>
			</div>
			<div class="main_content">


				<!--模块列表 开始-->
				<div class="module_add">

					<form onsubmit="return check_form();" action="" method="post"
						name="form1" enctype="multipart/form-data">
						<div class="module_title">
							<strong>添加认证类型</strong>
						</div>

						<div class="module_border">
							<div class="l">类型名称:</div>
							<div class="c">
								<input type="text" size="30" value="房产证" class="input_border"
									name="name">
							</div>
						</div>

						<div class="module_border">
							<div class="l">排序:</div>
							<div class="c">
								<input type="text" size="10" value="9" class="input_border"
									name="order">
							</div>
						</div>

						<div class="module_border">
							<div class="l">状态:</div>
							<div class="c">
								<input type="radio" value="0" name="status"> 关闭<input
									type="radio" checked="checked" value="1" name="status">开通
							</div>
						</div>

						<div class="module_border">
							<div class="l">默认积分:</div>
							<div class="c">
								<input type="text" div=""<="" value="2" name="jifen">
							</div>

							<div class="module_border">
								<div class="l">简要说明:</div>
								<div class="c">
									<textarea rows="6" cols="55" name="summary"></textarea>
								</div>
							</div>

							<div class="module_border">
								<div class="l">备注:</div>
								<div class="c">
									<textarea rows="6" cols="55" name="remark"></textarea>
								</div>
							</div>

							<div class="module_submit">
								<input type="hidden" value="19" name="type_id"> <input
									type="submit" value="确认提交"> <input type="reset"
									value="重置表单" name="reset">
							</div>

						</div>
					</form>


					<script>
function check_form(){
	 var frm = document.forms['form1'];
	 var title = frm.elements['name'].value;
	 var errorMsg = '';
	  if (title.length == 0 ) {
		errorMsg += '类型名称必须填写' + '\n';
	  }
	  if (errorMsg.length &gt; 0){
		alert(errorMsg); return false;
	  } else{  
		return true;
	  }
}

</script>



				</div>
			</div>
		</div>

	</div>
	<!-- div.main end  -->
	<#include "../../foot.html">
</body>
</html>