<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:javaee="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" id="WebApp_9" version="2.4">
  <!-- 全局过滤器 -->
  <filter> 
  <filter-name>GlobalFilter</filter-name> 
  <filter-class>com.p2psys.web.filter.GlobalFilter</filter-class> 
  </filter>
  <filter-mapping> 
      <filter-name>GlobalFilter</filter-name> 
      <url-pattern>/*</url-pattern> 
  </filter-mapping>
  <!-- 后台管理过滤器 -->
  <filter> 
  <filter-name>AdminFilter</filter-name> 
  <filter-class>com.p2psys.web.filter.AdminFilter</filter-class> 
  </filter>
  <filter-mapping> 
      <filter-name>AdminFilter</filter-name> 
      <url-pattern>/admin/*</url-pattern> 
  </filter-mapping>
  <!-- 配置Session 过滤器 -->
  <filter> 
	  <filter-name>SessionFilter</filter-name> 
	  <filter-class>com.p2psys.web.filter.SessionFilter</filter-class> 
  </filter>
  <filter-mapping> 
      <filter-name>SessionFilter</filter-name> 
      <url-pattern>/member/*</url-pattern> 
      
  </filter-mapping>
  <!-- 配置字符 过滤器   -->  
  
  <filter> 
	  <filter-name>CharacterEncoding</filter-name> 
	  <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class> 
	  <init-param> 
		  <param-name>encoding</param-name> 
		  <param-value>UTF-8</param-value> 
	  </init-param> 
	  <init-param> 
		  <param-name>forceEncoding</param-name> 
		  <param-value>true</param-value> 
	  </init-param> 
  </filter>  
  <filter-mapping> 
      <filter-name>CharacterEncoding</filter-name>
      <url-pattern>/*</url-pattern> 
  </filter-mapping> 
  
  <!-- 配置Url重写过滤器 -->
  <filter>
    <filter-name>UrlRewriteFilter</filter-name>
    <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
    <init-param>
           <param-name>logLevel</param-name>
           <param-value>WARN</param-value>
       </init-param>
  </filter>
 <filter-mapping>
		<filter-name>UrlRewriteFilter</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
	</filter-mapping>
  <!-- 配置Struts配置器 -->  
  <filter>
    <filter-name>struts2</filter-name>
    <filter-class>com.p2psys.web.filter.RdStrutsFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>struts2</filter-name>
    <url-pattern>*.action</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher> 
    <dispatcher>INCLUDE </dispatcher>   
  </filter-mapping>
  
  <!-- 配置Spring容器 -->
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath*:/spring/application*.xml</param-value>
  </context-param>
  <!-- 配置Spring启动监听器 -->
  <listener>
    <listener-class>
      org.springframework.web.context.ContextLoaderListener
    </listener-class>
  </listener>
  <!-- 配置网站配置监听器 -->
  <listener>
    <listener-class>
        com.p2psys.web.listener.WebConfigContextListener
    </listener-class>
  </listener>

 <error-page>
     <error-code>404</error-code>
    <location>/404.htm</location>
  </error-page>
  <welcome-file-list>
  	<welcome-file>index.action</welcome-file>
  </welcome-file-list>
</web-app>

